<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>Application</title>
  <% if (htmlWebpackPlugin.options.dllConfig.vendors.css) { %>
    <link href="/<%= htmlWebpackPlugin.options.dllConfig.vendors.css %>" rel="stylesheet">
    <% } %>
      <% for (key in htmlWebpackPlugin.files.css) { %>
        <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
        <% } %>
</head>

<body>
  <% if (htmlWebpackPlugin.options.dllConfig.vendors.js) { %>
    <script src="/<%= htmlWebpackPlugin.options.dllConfig.vendors.js %>" type="text/javascript"></script>
    <% } %>
      <% for (key in htmlWebpackPlugin.files.js) { %>
        <script src="<%= htmlWebpackPlugin.files.js[key] %>" type="text/javascript"></script>
        <% } %>
</body>

</html>
